<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
      <input type="text" class="form-control" name="destination" id="destination"></input>

  <button id="search">Search</button>

<div>
  <div id="name"></div>
  <div id="photos" ></div>
  <div id="known-for"></div>
  <div id="cost"></div>
  <div id="safety"></div>
  <div id="covid"></div>
  <div id="walk-score"></div>
  <div id="population"></div>
</div>

  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>view history:</h3>

    <form class="form new-history-form">
      <div class="form-group">
        <label for="destination">Destination:</label>
        <input class="form-input" type="text" id="destination" name="destination" />
      </div>
      <div class="form-group">
        <label for="cost">Cost:</label>
        <input class="form-input" type="number" id="cost" name="cost" />
      </div>
      <div class="form-group">
        <label for="landmarks">Landmarks:</label>
        <textarea class="form-input" id="landmarks" name="landmarks"></textarea>
      </div>
            <div class="form-group">
        <label for="duration">Duration:</label>
        <input class="form-input" type="text" id="duration" name="duration" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if historyLog.length}}
  <div class="col-md-6 history-list">
    <h3>Past vacations:</h3>

    {{#each historyLog as |history|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/historyLog/{{history.id}}">{{history.destination}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{history.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
